/* .card {
} */
.custom-card {
  background-color: #011b15;
  color: white;
  /* border: 1px solid #daa520; */
  border-radius: 15px; /* Rounded corners */
  margin-bottom: 50px;
}
.custom-card .card-title,
.custom-card h5 {
  color: #daa520;
}
.custom-card{
  background-color: transparent ;
}
 .card-title{
    font-weight: 700;
 }
.custom-card h5 {
    font-size: 22px;
    font-weight: 500;
}

/* fadeIn animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Attach animation to cards */
.slideUp-animate {
  animation: slideUp 1s linear both;
}
